<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bookcenter.loginRxjava.LoginRxJavaActivity"></activity>
        <activity android:name=".bookcity.bookClassify.detailMvp.MVPDetailActivity" />
        <activity android:name=".bookcenter.discussion.DisDetailActivity" />
        <activity android:name=".bookcenter.discussion.DisListActivity" />
        <activity android:name=".bookcity.bookClassify.ReadBookActivity" />
        <activity android:name=".bookcity.bookListAvtivity.ListMinActivity" />
        <activity android:name=".bookcity.bookRanking.RankMinActivity" />
        <activity android:name=".bookcity.bookRanking.RankingActivity" />

        <activity android:name=".bookcity.bookListAvtivity.ListActivity" />
        <activity android:name=".bookcity.bookClassify.ClassifyListActivity" />
        <activity android:name=".bookcity.bookClassify.ClassifyActivity" />
        <activity android:name=".bookcenter.LoginActivity" />
        <activity android:name=".bookcity.bookClassify.classifyListMvp.CListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bookcity.bookClassify.detailRxjava.rxDetailActivity" />
        <activity android:name=".bookcity.bookClassify.classifyListRxjava.rxClassifyListActivity" />
        <activity android:name=".bookcity.bookClassify.detailMVVM.DetailMVVMActivity" />
    </application>

</manifest>